<a href="https://colab.research.google.com/github/AnastaSya73/lalala/blob/main/%D0%9B%D0%B0%D0%B11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задание по практике 1

##Загрузка датасета
В файле classification datasets расположены ссылки на датасеты. Выберите один в соответствии со своим вариантом, скачайте и прочитайте файл
1

**Не забудьте загрузить нужные библиотеки**

Например: pip3 install pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/student-por.csv")#ваш код
pd.set_option('display.max_columns', None)
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,course,mother,1,3,1,no,no,no,yes,no,yes,yes,no,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,course,mother,1,2,0,no,yes,no,no,yes,yes,yes,no,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,course,mother,2,2,0,no,no,no,yes,yes,yes,no,no,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,4,10,11,11

##Первое знакомство с датасетом
В следующих ячейках выведите:


1.   Колонки датасета
2.   Первые 5 значений
3.   Последние 5 значений
4.   Статистику по числовым колонкам

In [ ]:
df = pd.read_csv("/content/student-por.csv")#Колонки

df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [ ]:
df[:5]#Первые 5 значений

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

In [ ]:
df.tail()#Последние 5 значений

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
644,MS,F,19,R,GT3,T,2,3,services,other,course,mother,1,3,1,no,no,no,yes,no,yes,yes,no,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,course,mother,1,2,0,no,yes,no,no,yes,yes,yes,no,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,course,mother,2,2,0,no,no,no,yes,yes,yes,no,no,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,4,10,11,11

In [ ]:
df.describe()#Статистику

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000
mean,16.744222,2.514638,2.306626,1.568567,1.930663,0.221880,3.930663,3.180277,3.184900,1.502311,2.280431,3.536210,3.659476,11.399076,11.570108,11.906009
std,1.218138,1.134552,1.099931,0.748660,0.829510,0.593235,0.955717,1.051093,1.175766,0.924834,1.284380,1.446259,4.640759,2.745265,2.913639,3.230656
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,16.000000,2.000000,1.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,2.000000,0.000000,10.000000,10.000000,10.000000
50%,17.000000,2.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,2.000000,11.000000,11.000000,12.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,6.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,32.000000,19.000000,19.000000,19.000000

**Ответьте на следующие вопросы:**


1.   Какие средние значения в каждой числовой колонке вашего датасета?
2.   Минимальные и максимальные значения в каждой числовой колонке вашего датасета

In [ ]:
df.mean()# средние значения в каждой числовой колонке датасета

<ipython-input-8-4ab5cb95ab61>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()# средние значения в каждой числовой колонке датасета

age           16.744222
Medu           2.514638
Fedu           2.306626
traveltime     1.568567
studytime      1.930663
failures       0.221880
famrel         3.930663
freetime       3.180277
goout          3.184900
Dalc           1.502311
Walc           2.280431
health         3.536210
absences       3.659476
G1            11.399076
G2            11.570108
G3            11.906009
dtype: float64

In [ ]:
df_numerical = df.select_dtypes(include = [np.number])#выбираем из датасета столбцы с числовыми значениями
df_numerical.min()#Минимальные значения в каждой числовой колонке датасета

age           15
Medu           0
Fedu           0
traveltime     1
studytime      1
failures       0
famrel         1
freetime       1
goout          1
Dalc           1
Walc           1
health         1
absences       0
G1             0
G2             0
G3             0
dtype: int64

In [ ]:
df_numerical.max()#максимальные значения в каждой числовой колонке датасета

age           22
Medu           4
Fedu           4
traveltime     4
studytime      4
failures       3
famrel         5
freetime       5
goout          5
Dalc           5
Walc           5
health         5
absences      32
G1            19
G2            19
G3            19
dtype: int64

Курсив

1.   **Ответ 1.** mean	16.744222	2.514638	2.306626	1.568567	1.930663	0.221880	3.930663	3.180277	3.184900	1.502311	2.280431	3.536210	3.659476	11.399076	11.570108	11.906009
2.   **Ответ 2.1** min	15.000000	0.000000	0.000000	1.000000	1.000000	0.000000	1.000000	1.000000	1.000000	1.000000	1.000000	1.000000	0.000000	0.000000	0.000000	0.000000

  **Ответ 2.2** max	22.000000	4.000000	4.000000	4.000000	4.000000	3.000000	5.000000	5.000000	5.000000	5.000000	5.000000	5.000000	32.000000	19.000000	19.000000	19.000000

##Типизация
Присвойте соответствующим колонкам один из типов (category, float, int)

In [ ]:
df.school = df.school.astype("category")#Место для вашего кода
df.sex = df.sex.astype("category")
df.address = df.address.astype("category")
df.famsize = df.famsize.astype("category")
df.Pstatus = df.Pstatus.astype("category")
df.guardian = df.guardian.astype("category")
df.schoolsup = df.schoolsup.astype("category")
df.famsup = df.famsup.astype("category")
df.paid = df.paid.astype("category")
df.activities = df.activities.astype("category")
df.nursery = df.nursery.astype("category")
df.higher = df.higher.astype("category")
df.internet = df.internet.astype("category")
df.romantic = df.romantic.astype("category")
df.Mjob = df.Mjob.astype("category")
df.Fjob = df.Fjob.astype("category")
df.reason = df.reason.astype("category")
df.age = df.age.astype("int64")
df.Medu = df.Medu.astype("int64")
df.Fedu = df.Fedu.astype("int64")
df.traveltime = df.traveltime.astype("int64")
df.studytime = df.studytime.astype("int64")
df.failures = df.failures.astype("int64")
df.famrel = df.famrel.astype("int64")
df.freetime = df.freetime.astype("int64")
df.goout = df.goout.astype("int64")
df.Dalc = df.Dalc.astype("int64")
df.Walc = df.Walc.astype("int64")
df.health = df.health.astype("int64")
df.absences = df.absences.astype("int64")
df.G1 = df.G1.astype("int64")
df.G2 = df.G2.astype("int64")
df.G3 = df.G3.astype("int64")
df.info()#Вывести типы колонок тут

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    category
 1   sex         649 non-null    category
 2   age         649 non-null    int64
 3   address     649 non-null    category
 4   famsize     649 non-null    category
 5   Pstatus     649 non-null    category
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    category
 9   Fjob        649 non-null    category
 10  reason      649 non-null    category
 11  guardian    649 non-null    category
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    category
 16  famsup      649 non-null    category
 17  paid        649 non-null    category
 18  activities  649 non-null    category
 19  nursery     649 non-null    category
 20  higher      649 non-null    category
 21  internet    649 non-null    category
 22  romantic    649 non-null    category
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: category(17), int64(16)
memory usage: 94.3 KB

Какие признаки вы можете выделить в своем датасете (категориальные, числовые и др., **минимум 3 разных**, помните что можно также выделить признаки более точно, например числовые - порядковые, количественные и т.д.)?

**ОТВЕТ:**
1. Бинарные: sex, schoolsup,	famsup,	paid, activities,	nursery, higher,	internet,	romantic, school, address, famsize, Pstatus
2. Категориальные: guardian, Mjob,	Fjob,	reason,	guardian
4. Числовые: age, Medu, Fedu, traveltime, studytime, failures, famrel,	freetime,	goout,	Dalc,	Walc,	health,	absences,	G1,	G2,	G3

##Фильтрация
Офильтруйте 3 колонки вашего датасета и выведите результат

In [ ]:
f1=df[df['sex'] == 'F']#Фильтр колонки 1
f1

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
642,MS,F,17,U,GT3,T,4,3,teacher,other,other,mother,2,2,0,no,no,no,no,yes,yes,yes,no,5,5,4,1,1,1,0,6,9,11
643,MS,F,18,R,GT3,T,4,4,teacher,at_home,reputation,mother,3,1,0,no,yes,no,yes,yes,yes,yes,yes,4,4,3,2,2,5,4,7,9,10
644,MS,F,19,R,GT3,T,2,3,services,other,course,mother,1,3,1,no,no,no,yes,no,yes,yes,no,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,course,mother,1,2,0,no,yes,no,no,yes,yes,yes,no,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,course,mother,2,2,0,no,no,no,yes,yes,yes,no,no,1,1,1,1,1,5,6,11,12,9

In [ ]:
f2=df[df['age'] >18]#Фильтр колонки 2
f2

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
127,GP,F,19,U,GT3,T,0,1,at_home,other,course,other,1,2,2,no,yes,no,no,no,no,no,no,3,4,2,1,1,5,0,9,10,11
166,GP,M,19,U,GT3,T,3,2,services,at_home,home,mother,1,1,0,no,yes,no,no,yes,no,yes,yes,4,5,4,1,1,4,6,11,9,11
224,GP,F,19,U,GT3,T,3,3,other,other,reputation,other,1,4,0,no,yes,no,yes,yes,yes,yes,no,4,3,3,1,2,3,4,12,12,12
279,GP,M,22,U,GT3,T,3,1,services,services,other,mother,1,1,3,no,no,no,no,no,no,yes,yes,5,4,5,5,5,1,12,7,8,5
290,GP,F,19,U,GT3,T,2,2,services,services,home,mother,1,2,0,no,yes,no,no,yes,yes,yes,no,4,3,3,1,1,5,0,10,10,11
295,GP,M,19,U,LE3,A,4,3,services,at_home,reputation,mother,1,2,0,no,yes,no,no,yes,yes,yes,no,4,3,1,1,1,1,4,11,13,14
299,GP,F,20,R,GT3,T,2,1,other,other,course,other,2,2,0,no,yes,yes,yes,yes,no,yes,yes,1,2,3,1,2,2,8,10,12,12
311,GP,F,19,U,GT3,T,3,3,other,services,home,other,1,2,0,no,yes,no,yes,yes,yes,yes,no,4,3,5,3,3,5,16,11,12,12
322,GP,F,19,R,GT3,T,3,2,services,services,reputation,father,1,2,1,yes,yes,no,no,yes,no,yes,no,3,3,3,4,3,3,0,9,8,10
341,GP,F,19,U,GT3,T,4,4,health,other,reputation,other,2,2,0,no,yes,no,yes,yes,yes,yes,no,2,3,4,2,3,2,2,14,13,13
350,GP,M,19,R,LE3,T,2,1,at_home,services,course,mother,2,3,1,no,no,no,yes,yes,yes,yes,yes,4,3,1,1,1,5,0,9,10,11
351,GP,M,20,U,GT3,A,3,2,services,other,course,other,1,1,2,no,no,no,yes,yes,yes,no,no,5,5,3,1,1,5,0,14,15,15
352,GP,M,19,R,GT3,T,3,3,other,services,reputation,father,1,2,0,no,no,no,yes,yes,yes,no,yes,4,5,3,1,2,5,0,10,10,11
361,GP,M,19,U,GT3,T,4,2,health,other,course,mother,2,2,0,no,yes,no,yes,yes,yes,yes,yes,5,4,4,1,1,1,9,11,10,10
369,GP,F,19,U,GT3,T,1,1,other,other,course,other,3,3,0,no,no,no,yes,yes,no,no,yes,1,5,5,4,3,5,12,10,10,11
370,GP,F,19,U,LE3,A,1,1,other,other,course,other,3,2,2,no,yes,no,no,no,yes,yes,yes,5,3,4,1,1,4,2,8,8,9
384,GP,M,19,R,GT3,T,3,2,at_home,services,home,other,1,1,0,no,yes,no,no,no,yes,no,yes,5,3,4,2,2,5,0,11,10,10
405,GP,F,19,U,LE3,A,2,3,at_home,other,home,other,2,1,1,no,no,no,no,yes,no,yes,no,2,2,3,3,4,5,16,10,11,11
407,GP,F,21,U,LE3,T,4,4,other,other,reputation,other,1,3,2,no,no,yes,yes,yes,yes,yes,no,3,3,2,1,1,5,0,9,12,12
413,GP,M,21,R,LE3,T,1,1,at_home,other,course,other,2,2,2,no,yes,no,yes,yes,no,yes,yes,5,3,3,5,2,4,21,9,10,10
414,GP,F,20,R,GT3,T,1,1,other,other,reputation,other,2,3,0,no,no,no,no,yes,yes,yes,yes,3,2,2,1,3,3,8,11,15,15
415,GP,F,19,U,GT3,T,4,4,teacher,other,home,other,1,1,1,no,yes,no,no,yes,yes,yes,yes,3,2,5,4,4,5,5,9,10,11
419,GP,M,19,U,GT3,T,2,1,other,other,reputation,mother,1,1,0,no,no,no,no,yes,yes,yes,no,5,3,4,1,4,4,10,7,11,11
421,GP,F,20,U,GT3,T,1,0,other,other,reputation,mother,2,1,1,yes,no,no,no,yes,yes,yes,yes,5,3,1,1,1,5,5,8,10,10
480,MS,F,19,U,GT3,T,2,3,at_home,services,course,other,1,1,1,no,no,no,no,yes,no,yes,yes,4,4,4,1,1,2,0,9,9,10
488,MS,F,19,U,GT3,T,1,1,at_home,services,course,mother,1,3,1,no,no,no,yes,yes,no,no,yes,5,3,1,1,1,3,6,7,9,9
491,MS,F,19,U,GT3,T,1,1,other,other,course,other,2,2,1,no,yes,no,no,yes,yes,yes,yes,1,1,4,4,1,1,12,7,8,9
504,MS,F,19,U,LE3,T,2,2,other,other,home,mother,1,3,0,no,no,no,no,yes,yes,yes,yes,5,4,5,1,1,1,0,12,13,13
506,MS,F,20,U,GT3,T,3,3,at_home,services,other,mother,2,2,1,no,no,no,yes,yes,yes,yes,yes,3,3,4,2,4,3,8,11,9,10
552,MS,M,19,U,GT3,T,1,1,other,other,other,mother,1,2,2,no,yes,no,yes,yes,no,yes,no,4,4,3,3,4,4,2,9,9,10
568,MS,M,19,U,GT3,T,3,2,at_home,services,course,mother,2,1,3,no,no,no,yes,yes,yes,no,no,3,2,1,1,1,3,4,6,11,9
571,MS,M,19,U,GT3,T,2,1,at_home,other,course,other,2,1,3,no,no,no,yes,no,no,yes,yes,4,4,3,1,3,5,4,8,9,9
574,MS,M,20,R,GT3,T,1,1,other,other,course,other,2,1,1,no,yes,no,no,yes,no,yes,yes,4,4,3,2,4,4,12,8,11,10
577,MS,M,19,R,GT3,T,1,1,other,services,home,other,3,2,1,no,no,no,no,yes,yes,yes,no,5,4,4,3,3,2,8,10,9,11
580,MS,M,19,R,GT3,T,1,1,other,other,home,other,3,1,1,no,yes,no,no,yes,yes,yes,no,4,4,4,3,3,5,4,8,9,10
582,MS,F,19,U,LE3,A,1,1,at_home,other,course,mother,1,1,0,no,yes,no,no,yes,no,no,no,1,4,4,1,1,5,0,6,8,7
605,MS,F,19,U,GT3,T,1,1,at_home,services,other,father,2,1,1,no,no,no,no,yes,no,no,no,5,5,5,2,3,2,0,5,0,0
610,MS,F,19,R,GT3,A,1,1,at_home,at_home,course,other,2,2,3,no,yes,no,yes,yes,no,no,yes,3,5,4,1,4,1,0,8,0,0
632,MS,F,19,R,GT3,T,1,1,at_home,other,course,other,2,2,1,no,yes,no,no,yes,yes,yes,yes,4,3,3,1,1,3,4,7,8,9
639,MS,M,19,R,GT3,T,1,1,other,services,other,mother,2,1,1,no,no,no,no,yes,yes,no,no,4,3,2,1,3,5,0,5,8,0
644,MS,F,19,R,GT3,T,2,3,services,other,course,mother,1,3,1,no,no,no,yes,no,yes,yes,no,5,4,2,1,2,5,4,10,11,10

In [ ]:

f3=df[df.reason.str.startswith('h')]#Фильтр колонки 3
f3

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13
6,GP,M,16,U,LE3,T,2,2,other,other,home,mother,1,2,0,no,no,no,no,yes,yes,yes,no,4,4,4,1,1,3,0,13,12,13
7,GP,F,17,U,GT3,A,4,4,other,teacher,home,mother,2,2,0,yes,yes,no,no,yes,yes,no,no,4,1,4,1,1,1,2,10,13,13
8,GP,M,15,U,LE3,A,3,2,services,other,home,mother,1,2,0,no,yes,no,no,yes,yes,yes,no,4,2,2,1,1,1,0,15,16,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,MS,F,18,R,GT3,T,1,1,other,other,home,mother,4,3,0,no,no,no,no,yes,yes,yes,no,4,3,2,1,2,4,4,10,11,12
634,MS,F,18,U,GT3,T,3,3,other,other,home,mother,1,2,0,no,no,no,no,yes,yes,yes,yes,4,1,3,1,2,1,1,16,16,16
636,MS,M,18,U,GT3,T,4,4,teacher,teacher,home,father,1,2,0,no,no,no,yes,no,yes,yes,no,3,2,4,1,4,2,4,17,18,19
638,MS,M,17,U,GT3,T,2,3,other,services,home,father,2,2,0,no,no,no,yes,yes,yes,yes,no,4,4,3,1,1,3,4,14,15,16
640,MS,M,18,R,GT3,T,4,2,other,other,home,father,2,1,1,no,no,yes,no,yes,yes,no,no,5,4,3,4,3,3,0,7,7,0

##Группировка
Сгруппируйте датасет по какому-либо категориальному признаку и выведите среднее значение численных колонок (см. метод mean в pandas)

In [ ]:
f4 = df.groupby(by=['sex']).mean()
f4 #Группировка

<ipython-input-16-7c448cec05e1>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  f4 = df.groupby(by=['sex']).mean()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
sex,,,,,,,,,,,,,,,,
F,16.788512,2.402089,2.229765,1.543081,2.073107,0.185379,3.864230,3.052219,3.127937,1.284595,1.937337,3.368146,3.577023,11.637076,11.822454,12.253264
M,16.680451,2.676692,2.417293,1.605263,1.725564,0.274436,4.026316,3.364662,3.266917,1.815789,2.774436,3.778195,3.778195,11.056391,11.206767,11.406015

##Задание для гениев *
Агрегируйте числовой признак по категориальному признаку с использованием метода **без использования** библиотеки pandas, и вычислите медиану и среднее значение для каждой категории.

In [ ]:
#Агрегация